<div class="mt-3">
  <h1>Luigi's Lūʻau Specialty Shop</h1>
  <hr>
  <div class="row">
    <div class="col-8">
      <h3>History</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales nec urna faucibus tempus. Donec sodales libero vel tortor vulputate scelerisque. Sed vitae molestie est, ut rhoncus libero. Aliquam imperdiet dictum purus, vel cursus erat dictum id. Ut viverra leo ac egestas congue. Fusce scelerisque consequat justo eu dapibus. Nam rutrum dolor a tempus bibendum. Ut at leo massa.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales nec urna faucibus tempus. Donec sodales libero vel tortor vulputate scelerisque. Sed vitae molestie est, ut rhoncus libero. Aliquam imperdiet dictum purus, vel cursus erat dictum id. Ut viverra leo ac egestas congue. Fusce scelerisque consequat justo eu dapibus. Nam rutrum dolor a tempus bibendum. Ut at leo massa.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales nec urna faucibus tempus. Donec sodales libero vel tortor vulputate scelerisque. Sed vitae molestie est, ut rhoncus libero. Aliquam imperdiet dictum purus, vel cursus erat dictum id. Ut viverra leo ac egestas congue. Fusce scelerisque consequat justo eu dapibus. Nam rutrum dolor a tempus bibendum. Ut at leo massa.</p>
    </div>
    <div class="col-4">
    <h3>Product with Most Reviews</h3>
    <% if @product_most_reviews.any? %>
        <ul>
          <% @product_most_reviews.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
          <% end%>
        </ul>
      <% else %>
        <p>No products have reviews yet</p>
    <% end %>
    <hr>
    <h3>Recent Products</h3>
    <% if @products_recent.any? %>
        <ul>
          <% @products_recent.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
          <% end%>
        </ul>
      <% else %>
        <p>No products</p>
    <% end %>
    <hr>
    <h3>Products Made in US</h3>
    <% if @products_us.any? %>
        <ul>
          <% @products_us.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
          <% end%>
        </ul>
      <% else %>
        <p>No products from the US in our inventory</p>
    <% end %>
    </div>
  </div>
</div>


    
