<h1>Luigi's Lūʻau Specialty Shop</h1>

  <% if @products.any? %>
    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end%>
    </ul>
  <% else %>
    <p>No products have been created yet</p>
  <% end %>

  <p><%= link_to "Add a product", new_product_path %></p>

  <a href="location location location">link to routes</a>