<h3>Products Made in US</h3>
<% if @products_us.any? %>
    <ul>
      <% @products_us.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end%>
    </ul>
  <% else %>
    <p>No products from the US in our inventory</p>
<% end %>
